.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 20px;
  width: auto;
}

h1 {
  color: black;
  font-size: 25px;
  padding: 20px;
  text-align: center;
}

p {
  color: black;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #3d2d5e;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-item {
  text-transform: capitalize;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(90deg, rgb(92, 60, 156) 0%, rgb(96, 40, 131) 100%);
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #09446e;
}

.todo-button.edit {
  background: linear-gradient(90deg, rgb(10, 80, 129) 0%, rgb(4, 32, 70) 100%);
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(90deg, rgba(255, 118, 20, 1) 0%, rgba(255, 84, 17, 1) 100%);

  padding: 16px;
  border-radius: 5px;
  width: 100%;
  font-size: 26px;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(90deg, rgb(42, 6, 114) 0%, rgb(70, 6, 110) 100%);
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(90deg, rgb(102, 5, 97) 0%, rgb(87, 2, 47) 100%);
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(90deg, rgba(20, 159, 255, 1) 0%, rgba(17, 122, 255, 1) 100%);
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}